#home {
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.homeLogo {
    width: 50vh;
    height: 25vh;
}

@media (max-width: 480px) {
.homeLogo {
    width: 75vw;
    height: 25vh;
}

#home {
    text-align: center;
}
}



