#movie__profile {
  flex-direction: column
}

.movie__poster {
  height: 45vh;
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
  margin-right: 40px;
}

.Movie__Wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;;
}

.Movie__Title {
  margin-bottom: 24px;
  font-weight: 900;
}

.movie__info {
  font-size: large;
  width: 500px;
}

.IMDB__button {
  margin-top: 25px;
  background-color: yellow;
  color:black;
  box-shadow: 10px 5px 5px black;
}

.IMDB__button:hover {
  background-color: orange;
}

.Back__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  margin-bottom: 16px;
}

.Back__btn:hover {
  background-color: blue;
  color: white;
}

.Back__arrow--img {
  height: 25px;
  width: 25px;
  
}

@media (max-width: 1024px) {
  .Movie__Wrapper {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .Movie__Wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .movie__poster {
    margin-right: 0;
    max-width: 280px;
  }

  .movie__info {
    font-size: 1rem;
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .movie__poster {
    max-width: 220px;
  }
}