#results {
    display: flex;
    flex-direction: column;
    height: 150vh;
}

.results__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1400px
}

.results__header {
    position: relative;
    top: -100px
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-results {
    height: 70vh;
}