#results {
    display: flex;
    flex-direction: column;
    height: 150vh;
}

.results__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px
}

.results__header {
    position: relative;
    top: -100px
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}