@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "roboto", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blue {
    color: blue
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;

}
                 
