@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "roboto", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
}

.blue {
    color: blue
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

a:visited {
  text-decoration: none;
  cursor: pointer;

}

@media (max-width: 768px) {
    section {
        padding: 12px;
    }

    .container {
        padding: 0 12px;
    }

    .Nav__Link {
        display: none;
    }
}
                 
